:root{
	--bg-color: #b4db55;
	--text-color: gray;
	--font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	
}

body{
	background-color: var(--bg-color);
	font-family: var(--font-family);

	ul{
		color:  var(--text-color);
		text-align: center;
		background-color: white;
		padding: 50px 100px;
		list-style-type: none;
		li{
			font-size: 20px;
			line-height: 1.8;
		}
		p{
			line-height: 1.5;
		}
	}
}

body.about-page{
	background-color: #b4d;
	color:  white;
}

body.contact-page{
	background-color: skyblue;
	color:  white;
}