*{
  margin: 0;
  padding: 0;
}

body{
  margin: 2em;
  font-family: var(--font-family);
  line-height: 25px;
  font-size: 14px;
  text-align: center;
  color: var(--text-color);
  	img{
		display: block;
		margin: 25px auto
	}
  	a{
		margin: 15px;
		text-decoration: none;
		font-size: 18px;
    color: var(--text-color);
    font-weight: bold;
	}
}

.container{
  max-width: 550px;
  margin: 0 auto;
}
