/* Variables import */
@import "./_variables";
/* Import basic styles */
@import "./_basic";


body.home-page{
	background-color: var(--home-bg-color);
}

body.about-page{
	background-color: var(--about-bg-color);
}

body.contact-page{
	background-color: var(--contact-bg-color);
}