doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Parcel bundler starter kit
    link(rel="stylesheet", href="css/main.css")
  body.about-page
    h1 About page
    img(src="./img/person.jpg", alt="Person" width="250px")
    a(href="index.pug") Return Home


    script(src='js/main.js')