doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Parcel bundler starter kit
    link(rel="stylesheet", href="styles/main.css")
  body.home-page

    ul
      h1 Parcel bundler starter kit
      h2 with the following
      li pug
      li postcss
      li  autoprefixer
      li  postcss-plugin
      li  postcss-utilities
      li  postcss-mixins
      li  postcss-simple-vars
      li  postcss-nested
      li  postcss-import
      li  postcss-circle
      li  rucksack-css
      li  cssnano
  
      p Dont forget to run 'yarn install' then 'yarn start' or 'npm install' then 'npm start'.

      a(href="about.pug") about
      a(href="contact.pug") contact



    script(src='js/main.js')